.main-card {
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: 12px;
	padding: 30px 20px 10px 20px;
}

.main-card .heading {
	font-size: 32px;
	font-weight: 600;
	color: #fff;
	width: 60%;
	margin-bottom: 26px;
}

.main-card .para {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	width: 60%;
}

.main-card .car-img {
	width: 100%;
	height: 100px;
}

.main-card .car-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* search card */

.search-card {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px 30px;
}

.search-card .pick-dot,
.search-card .drop-dot {
	--size: 8px;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
}

.input-search-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-right: 1px solid rgba(195, 212, 233, 0.4);
}

.input-search-container label {
	font-size: 16px;
	font-weight: 700;
}

.input-search-container select {
	border: 0;
	outline: none;
	width: 100%;
	font-size: 12px;
	font-weight: 500;
	color: var(--morent-icon);
}

/* product card */

.product-card {
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
	padding: 14px;
	height: 100%;
	min-height: 300px;
}

.product-card .car-img {
	width: 90%;
	height: 108px;
	margin: 0 auto;
	position: relative;
}

.product-card .car-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.product-card .productOverlay,
.responsive-card .carOverlay {
	width: 100%;
	height: 68px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

/* responsive card */

.responsive-card {
	border-radius: 10px;
	background-color: #fff;
	padding: 16px;
}

.responsive-card .car-img {
	width: 100%;
	height: 65px;
	position: relative;
}

.responsive-card .carOverlay {
	height: 44px;
}

.responsive-card .car-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media screen and (max-width: 767px) {
	.main-card {
		min-height: 300px;
		background-size: contain !important;
		background-repeat: no-repeat !important;
		background-position: bottom center !important;
	}

	.main-card .heading {
		width: 100%;
		font-size: 20px;
	}

	.main-card .para {
		width: 100%;
		font-size: 16px;
	}
}
