.main-card {
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: 12px;
	padding: 30px 20px 10px 20px;
}

.main-card .heading {
	font-size: 28px;
	font-weight: 600;
	color: #fff;
	width: 60%;
	margin-bottom: 26px;
}

.main-card .para {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	width: 60%;
}

.main-card .car-img {
	width: 100%;
	height: 120px;
}

.main-card .car-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* search card */

.search-card {
	background-color: #fff;
	border-radius: 12px;
	padding: 20px 30px;
}

.search-card .pick-dot,
.search-card .drop-dot {
	--size: 8px;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
}

.input-search-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-right: 1px solid var(--morent-icon);
}

.input-search-container label {
	font-size: 15px;
	font-weight: 600;
}

.input-search-container select {
	border: 0;
	outline: none;
	width: 100%;
	font-size: 12px;
	font-weight: 500;
	color: var(--morent-icon);
}

/* product card */

.product-card {
	background-color: #fff;
	border-radius: 12px;
	width: 100%;
	padding: 14px;
	height: 100%;
}

.product-card .car-img {
	width: 100%;
	height: 120px;
}

.product-card .car-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
