:root {
	--morent-primary: #3563e9;
	--morent-primary-100: #54a6ff;
	--morent-secondary: #717171;
	--morent-icon: #90a3bf;
	--morent-nav-icon: #596780;
	--morent-body: #f6f7f9;
	--morent-heading: #1a202c;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
}

a,
a:hover {
	text-decoration: none;
}

body {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: var(--morent-body);
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Font Sizes */
.fs-8 {
	font-size: 8px;
}
.fs-10 {
	font-size: 10px;
}
.fs-12 {
	font-size: 12px;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-18 {
	font-size: 18px;
}
.fs-20 {
	font-size: 20px;
}
.fs-22 {
	font-size: 22px;
}
.fs-24 {
	font-size: 24px;
}
.fs-26 {
	font-size: 26px;
}
.fs-28 {
	font-size: 28px;
}
.fs-30 {
	font-size: 30px;
}
.fs-32 {
	font-size: 32px;
}
.fs-34 {
	font-size: 34px;
}
.fs-36 {
	font-size: 36px;
}
.fs-38 {
	font-size: 38px;
}
.fs-40 {
	font-size: 40px;
}
.fs-42 {
	font-size: 42px;
}
.fs-44 {
	font-size: 44px;
}
.fs-46 {
	font-size: 46px;
}
.fs-48 {
	font-size: 48px;
}
.fs-50 {
	font-size: 50px;
}
.fs-52 {
	font-size: 52px;
}
.fs-54 {
	font-size: 54px;
}
.fs-56 {
	font-size: 56px;
}
.fs-58 {
	font-size: 58px;
}
.fs-60 {
	font-size: 60px;
}
.fs-62 {
	font-size: 62px;
}
.fs-64 {
	font-size: 64px;
}
.fs-66 {
	font-size: 66px;
}
.fs-68 {
	font-size: 68px;
}
.fs-70 {
	font-size: 70px;
}
.fs-72 {
	font-size: 72px;
}

/* Font Weights */
.fw-100 {
	font-weight: 100;
}
.fw-200 {
	font-weight: 200;
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}
.fw-900 {
	font-weight: 900;
}

input:focus,
.form-control:focus {
	box-shadow: none;
	border-color: var(--morent-primary);
}

.bg-primary-morent {
	background-color: var(--morent-primary);
}

.bg-primary-morent-100 {
	background-color: var(--morent-primary-100);
}

.shadow-primary-morent {
	-webkit-box-shadow: 0px 0px 8px var(--morent-primary);
	-moz-box-shadow: 0px 0px 8px var(--morent-primary);
	box-shadow: 0px 0px 8px var(--morent-primary);
}

.shadow-primary-morent-100 {
	-webkit-box-shadow: 0px 0px 8px var(--morent-primary-100);
	-moz-box-shadow: 0px 0px 8px var(--morent-primary-100);
	box-shadow: 0px 0px 8px var(--morent-primary-100);
}

/* text */

.text-secondary-100 {
	color: var(--morent-icon);
}

.text-primary-100 {
	color: var(--morent-primary);
}

.pointer {
	cursor: pointer;
}

.flex-1 {
	flex: 1;
}

.heart-fav-filled {
	color: #ed3f3f;
}

/* buttons */

.btn-primary-morent,
.btn-secondary-morent {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	padding: 6px 20px;
}

.btn-primary-morent {
	background-color: var(--morent-primary);
}

.btn-secondary-morent {
	background-color: var(--morent-primary-100);
}

.btn-primary-morent:hover {
	background-color: var(--morent-primary);
	color: #fff;
	opacity: 0.8;
}

.btn-secondary-morent:hover {
	background-color: var(--morent-primary-100);
	color: #fff;
	opacity: 0.8;
}
